workflows.json
[{"createdAt":"2025-06-06T14:22:29.521Z","updatedAt":"2025-06-06T14:28:58.000Z","id":"EHu9HYvBaP1NevaT","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"2c17e1cf-7c09-4ffc-9207-56f75dd7c7e2","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"4bddd66e-04dd-48d4-9cb1-e6e722498fff","name":"Webhook","webhookId":"2c17e1cf-7c09-4ffc-9207-56f75dd7c7e2"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apps3qHPryh1rtQir","mode":"list","cachedResultName":"Untitled Base","cachedResultUrl":"https://airtable.com/apps3qHPryh1rtQir"},"table":{"__rl":true,"value":"tblPs8Lwyx0kxgwBU","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/apps3qHPryh1rtQir/tblPs8Lwyx0kxgwBU"},"columns":{"mappingMode":"defineBelow","value":{"Name":"{{ $json.body.name }}","Notes":"{{ $json.body.goal }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Attachment Summary","displayName":"Attachment Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[140,-100],"id":"1072bcbb-f653-4110-bab2-6b5b6e2f6e0d","name":"Airtable","credentials":{"airtableTokenApi":{"id":"pXqYqyphcyixj0Ze","name":"Airtable Personal Access Token account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=A new user, {{ $json.fields.Name }}, has expressed interest in \"{{ $json.fields.Notes }}\"\nAsk them 2–3 clarifying questions to help narrow down their goal into something specific and actionable.\n\nBe friendly and encouraging.\n\nExample: If their goal is \"Learn Coding\", ask things like:\n- What kind of things do you want to build?\n- Do you have any previous experience?"},{"content":"You are a helpful assistant that summarizes user goals clearly and concisely.\n"},{"content":"=A user has submitted the goal: \"{{$node[\"Webhook\"].json[\"body\"][\"goal\"]}}\".\nSummarize it in 1–2 friendly, encouraging sentences."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[280,0],"id":"d05f651d-8d44-4dd1-abb8-9f62f4a4ab80","name":"OpenAI","credentials":{"openAiApi":{"id":"0HQqIArQGRdB0eSe","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9102dea6-c180-49fa-962d-03da6c9cd1df","name":"recordid","value":"={{$node[\"Airtable\"].json[\"id\"]}}","type":"string"},{"id":"526f7902-46f1-41f2-8b0d-3444229768a0","name":"summary","value":"={{$node[\"OpenAI\"].json[\"message\"][\"content\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,0],"id":"40d1ac1a-1196-47c9-a9cd-3fb5ed70f278","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"572e1cc2-b610-4455-b675-97e4b13f6f92","name":"message","value":"={{$json[\"message\"][\"content\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,-100],"id":"8cf96157-ee2b-4a26-b590-9cbeba50852b","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.3,"position":[1140,0],"id":"25d8c919-fc3e-42b3-8cbf-a0733cbc08b1","name":"Respond to Webhook"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"apps3qHPryh1rtQir","mode":"list","cachedResultName":"Untitled Base","cachedResultUrl":"https://airtable.com/apps3qHPryh1rtQir"},"table":{"__rl":true,"value":"tblPs8Lwyx0kxgwBU","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/apps3qHPryh1rtQir/tblPs8Lwyx0kxgwBU"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.recordid }}","Attachment Summary":"={{ $json.summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Attachment Summary","displayName":"Attachment Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[820,0],"id":"728b8c3f-9d4e-4018-8f62-b928c653919a","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"pXqYqyphcyixj0Ze","name":"Airtable Personal Access Token account"}}}],"connections":{"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Airtable1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cb1521c9-8fb5-4812-8a36-ca0dee1dabd5","triggerCount":0,"tags":[]}]